.speech{
    font-size: 18px;
    color: black;
}
.direction{
    font-size: 14px;
    color: black;
}
.direction:hover{
    background-color: lightblue;
    color:black;
}
.chubukov{
    color: #ff5733;
}
.lomov{
    color: #6a0572;
}
.character-table{
    width: 100%;
    border-collapse: collapse;
    margin-top:20px;
}
.character-table th, .character-table td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

.character-table th {
    background-color: #ddd;
}

.character-table tbody tr:nth-child(even) {
    background-color: #f2f2f2; 
}