.speech{
    font-size: 18px;
    color: black;
}
.direction{
    font-size: 14px;
    color: rgb(255, 3, 3);
}
.direction:hover{
    background-color: lightblue;
    color:black;
}
.chubukov{
    color: #c2f11b;
}
.lomov{
    color: #6a0572;
}

table,th,td{
    color: rgb(248, 1, 1);
    border: 2px solid rgb(23, 156, 132);
    border-collapse: collapse;

}
td{
    text-align: left;
}
th,td{
    padding-top:  15px;
    padding-bottom: 20px;
 }
 th{
     text-align: center;
 }
tr:nth-child(odd){
background-color: bisque;
}

.STEPANOVNA:hover{
    text-shadow: 1px 1px 5px rgb(4, 4, 4);
}
.LOMOV:hover{
    text-shadow:  3px 6px pink
}
ul.Navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.Navbar li{
    float: left;
    color: red;
    background-color: beige;
}
ul.Navbar a{
    display: block;
    padding: 8px;
}
ul.Navbar a:hover{
    background-color: rgb(00, 0, 0);
    color: chocolate;
}
